.navigation {
    background-color: peachpuff;
    text-align: right;
}

.logo {
    display: flex;
}


.navigation ul li {
    display: inline-flex;
    list-style: none;
    padding: 8px;
}


.contact-info {
    color: red;
}